{% extends 'base.html.twig' %}

{% block body_id 'atividade' %}

{% block titpag %}
    {% if editar is defined %}
    Editar Atividade
    {% else %}
    Cadastro da Atividade
    {% endif %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.msg }}
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            {{ success.msg }}
        </div>
    {% endif %}

    <div class="content">
        <div class="col-lg-12">
            <div class="well">
                <form action="{% if editar is defined %} /editar/{{ id }} {% else %} {{ path('cadastro_index') }} {% endif %} " method="post">
                    <fieldset>
                        <legend>Atividade</legend>
                        <div class="form-group">
                            <label for="title">Nome (*)</label>
                            <input type="text" id="title" name="title" value="{{ title }}" class="form-control" required{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>
                        </div>
                        <div class="form-group">
                            <label for="description">Descrição (*)</label>
                            <textarea name="description" class="form-control" required{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>{{ description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="status_id">Status (*)</label>
                            <select class="form-control" name="status_id"{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>
                                {% for sta in status %}
                                    <option value="{{ sta.status_id }}" {% if status_id == sta.status_id %} selected {% endif %} >{{ sta.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="start_date">Data Início (*)</label>
                                <input type="text" id="start_date" name="start_date" value="{{ start_date|date('d/m/Y') }}" placeholder="MM/DD/YYY" class="form-control date"{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="end_date">Data Fim</label>
                                <input type="text" id="end_date" name="end_date" value="{% if end_date %}{{ end_date|date('d/m/Y') }} {% endif %}" placeholder="MM/DD/YYY" class="form-control date"{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="situation">Situação (*)</label>
                            <select class="form-control" name="situation"{{ editar is defined and editar is same as(false) ? ' disabled' : '' }}>
                                <option value="1" {% if situation == 1 %} selected {% endif %}>Ativo</option>
                                <option value="2" {% if situation == 2 %} selected {% endif %}>Inativo</option>
                            </select>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        {% if (editar is defined and editar is same as(true)) or cadastrar is defined and cadastrar is same as(true) %}
                            <div class="row">
                                <div class="col-lg-12" align="center">
                                    <button type="submit" name="Submit" value="Enviar" class="btn btn-success">
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
    $(document).ready(function(){
      var date_input=$('input.date'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
      {% if status_id == 4 %}
        $('input[name=end_date]').prop('required',true);
        $('input[name=end_date]').parent().find('label').html('Data Fim (*)');
      {% endif %}
      $('select[name=status_id]').click(function(){
        $('input[name=end_date]').prop('required',false);
        $('input[name=end_date]').parent().find('label').html('Data Fim');
        if($(this).val() == 4){
            $('input[name=end_date]').prop('required',true);
            $('input[name=end_date]').parent().find('label').html('Data Fim (*)');
        }
      })
    })
</script>
    
{% endblock %}

