{% extends 'base.html.twig' %}

{% block body_id 'sac' %}

{% block titpag 'Lista de Atividades' %}

{% block content %}
    <div class="content">
        <div class="form-filter" style="margin: 40px 0;">
            <form class="form-inline" method="post" action="{{ path('atividade_index') }}">
                <div class="form-group" style="margin-right: 10px;">
                    <label for="email">Status:</label>
                    <select class="form-control" name="status_id">
                        <option value="0">Todos</option>
                            {% for statu in status %}
                                <option value="{{ statu.status_id }}" {% if filtro['status_id'] == statu.status_id %} selected {% endif %} >{{ statu.title }}</option>
                            {% endfor %}
                    </select>
                </div>

                <div class="form-group" style="margin-right: 10px;">
                    <label for="id_pedido">Situação:</label>
                    <select class="form-control" name="situation">
                        <option value="">Todos</option>
                        <option value="1" {% if filtro['situation'] == 1 %} selected {% endif %}>Ativo</option>
                        <option value="2" {% if filtro['situation'] == 2 %} selected {% endif %}>Inativo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" name="find" value="find" class="btn btn-default">Pesquisar</button>
                </div>
            </form>
        </div>

        <table id="atividades" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Status</th>
                    <th>Situacao</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for atividade in pagination %}
                    <tr class="{% if atividade.status_id == 4 %} success {% endif %}">
                        <td>{{ atividade.id }}</td>
                        <td>{{ atividade.title }}</td>
                        <td>{{ atividade.description }}</td>
                        <td>{{ atividade.startDate|date('d/m/Y') }}</td>
                        <td>{% if atividade.endDate %} {{ atividade.endDate|date('d/m/Y') }} {% endif %}</td>
                        <td>{{ status[atividade.status_id].title }}</td>
                        <td>{% if atividade.situation == 1 %} Ativo {% else %} Inativo {% endif %}</td>
                        <td>
                            <a href="{{ url('edit_index', {id: atividade.id}) }}">
                                <button type="button" class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i> Editar</button>
                            </a>
                            {% if atividade.status_id is defined and atividade.status_id != 4 %}
                                <a href="{{ url('delete_index', {id: atividade.id}) }}">
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Apagar</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

        <div class="row">
            <div class="col-lg-12" align="center">
                <a href="{{ url('cadastro_index') }}">
                    <button type="button" class="btn btn-primary">Cadastrar nova atividade</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
