<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}ATIVIDADES{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/bootstrap-sandstone-3.3.7.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/font-awesome-4.6.3.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/font-lato.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/highlight-solarized-light.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/atividade/css/jquery.dataTables.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('atividade_index') }}">
                                ATIVIDADES
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{{ path('cadastro_index') }}">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Cadastrar atividades
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('atividade_index') }}">
                                        <i class="fa fa-list" aria-hidden="true"></i> Listar atividades
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-12">
                        {% include 'includes/alert.html.twig' with {'autoHide': true} %}
                        <h1>{% block titpag %}{% endblock %}</h1>
                        {% block content %}{% endblock %}
                    </div>                    
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright">
                            <p align="center">Duo System &reg; - Teste</p>
                            <p align="center"><a href="http://site.felipedecampos.com.br">Felipe de Campos</a></p>
                        </div>
                        
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/atividade/js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/moment.min.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/bootstrap-3.3.7.min.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/highlight.pack.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/main.js') }}"></script>
            <script src="{{ asset('bundles/atividade/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        {% endblock %}

       
    </body>
</html>
