{% if app.session.flashBag.has('success') or app.session.flashBag.has('error') %}
    <div class="row mt-md">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if app.session.flashBag.has('success') %}
                {% for msgSuccess in app.session.flashBag.get('success') %}
                    <div class="alert alert-success{{ autoHide is defined and autoHide == true ? ' alert-auto-hide' : '' }}">
                        {{ msgSuccess }}
                </div>
                {% endfor %}
            {% endif %}
            {% if app.session.flashBag.has('warning') %}
                {% for msgWarning in app.session.flashBag.get('warning') %}
                    <div class="alert alert-warning{{ autoHide is defined and autoHide == true ? ' alert-auto-hide' : '' }}">
                        {{ msgWarning }}
                </div>
                {% endfor %}
            {% endif %}
            {% if app.session.flashBag.has('error') %}
                {% for msgError in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger{{ autoHide is defined and autoHide == true ? ' alert-auto-hide' : '' }}">
                        {{ msgError }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}